html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #1C2942;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    flex: 1;
}

header {
    display: flex;
    color: #0B162C;
    padding: 10px 0;
    align-items: center;
}

#title {
    flex: 1;
    margin: 10px;
    justify-content: start;
    color : #5FC2BA;
    font-size: 4vh;
}

#menu {
    flex: 1;
    display: flex;
    justify-content: center;
}

#menu a {
    padding: 15px;
    color: #5FC2BA;
    text-decoration: none;
    font-weight: bold;
}

main {
   /* Adjust padding to accommodate fixed header */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: 100%;
    box-sizing: border-box;
}

#experience {
   
    

    max-width: 1200px;
    width: 100%;
    margin: 20px;
}

#experience h1 {
    text-align: center;
    color: #fff;
    
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    background-color: #0B162C;
    border-radius: 10px;
    box-shadow: 0 4px 8px #5FC2BA;
    padding: 20px;
    width: 40vh; 
    height: 25vh;
    margin: 10px;
}

.card h2 {
    color: #fff;
    margin-top: 0;
}

.card h3 {
    color: #fff;
    margin: 10px 0;
}

.card p {
    color: #fff;
    margin: 5px 0;
}

.hexagone {
    box-sizing: border-box;
    position: relative;
    width: 60.62178px;
    height: 35px;
    background-color: #0B162C;
    margin: 17.5px 0;
}

.hexagone:before,
.hexagone:after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    width: 0;
    border-left: 30.31089px solid transparent;
    border-right: 30.31089px solid transparent;
}

.hexagone:after {
    top: 100%;
    width: 0;
    border-top: 17.5px solid #0B162C;
}

.hexagone:before {
    bottom: 100%;
    border-bottom: 17.5px solid #0B162C;
}

.hexagone.fixed-bottom-right {
    position: fixed;
    bottom: 50px;
    right: 20px;
    margin: 0;
}

.hexagone.fixed-top-left {
    position: fixed;
    top: 100px;
    left: 20px;
    margin: 0;
}

/* Styles responsives */
@media (max-width: 768px) {
    .card {
        width: calc(50% - 40px);
    }
}

@media (max-width: 480px) {
    .card {
        width: calc(100% - 40px);
    }

    header {
        flex-direction: column;
    }

    nav#menu {
        flex-direction: column;
        align-items: center;
    }

    nav#menu a {
        padding: 10px 0;
    }
}
