html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #1C2942;

}

body {
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    flex: 1;
}

header {
    display: flex;
    color: #0B162C;
    padding: 10px 0;
    align-items: center;
}

#title {
    flex: 1;
    margin: 10px;
    justify-content: start;
    color : #5FC2BA;
    font-size: 4vh;
}

#menu {
    flex: 1;
    display: flex;
    justify-content: center;
}

#menu a {
    padding: 15px;
    color: #5FC2BA;
    text-decoration: none;
    font-weight: bold;
}


main {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: 100%;
    box-sizing: border-box;
}

#competences {
   

    border-radius: 10px;
    
    max-width: 1200px;
    width: 100%;
    margin: 20px;
}

#competences h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 40px;
}
#competences h2 {
  
    color: #fff;
    
}
.competence-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.competence {
    background-color: #0B162C;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px #5FC2BA;
}

.details {
    display: flex;
    flex-direction: column;
}



.niveau h3, .exemples h3 {
    text-align: center;
    color: #fff;
}

.niveau ul, .exemples ul {
    list-style-type: none;
    padding: 0;
    color: #fff;
}

.niveau li, .exemples li {
    background-color: #3B556D;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    text-align: center;
    color: #333;
}

.niveau li:hover, .exemples li:hover {
    background-color: #cceeff;
    cursor: pointer;
}
.niveau li.niv {
    background-color: #5FC2BA; /* Background color for mastered levels */
    color: #fff;
    font-weight: bold;
}

.niveau li.niv:hover {
    background-color: #43630f; /* Background color for mastered levels */
    cursor: pointer;
}

.proj button{
    border-radius: 18px;
    padding: 10px 15px;
    background-color: #3B556D;
    color: #0B162C;
    border: none;
    font-weight: bold;
    cursor: pointer;
    margin : 0.2vh;
    margin-bottom: 1vh;
    color: #fff;
    
 
}
.proj button:hover{
    background-color: #5FC2BA;
 
}